<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.business.fityou">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name="com.business.fityou.FitYouApp"
        android:theme="@style/Theme.FitYou">
        <service android:name="com.business.fityou.data.service.WorkoutTimerService"
            android:enabled="true"/>
        <activity
            android:name="com.business.fityou.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FitYou">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>